@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

@theme {
  --font-general: 'Oswald';
  --color-copperfield-50: #fdf5ef;
  --color-copperfield-100: #fbe6d9;
  --color-copperfield-200: #f5cbb3;
  --color-copperfield-300: #efa882;
  --color-copperfield-400: #e9845c;
  --color-copperfield-500: #e2592d;
  --color-copperfield-600: #d34223;
  --color-copperfield-700: #af311f;
  --color-copperfield-800: #8c2920;
  --color-copperfield-900: #71241d;
  --color-copperfield-950: #3d100d;
}
