@import "tailwindcss";

@theme {
  --font-general: 'Oswald';
  --color-copperfield-50: #fdf4ef;
  --color-copperfield-100: #fae6da;
  --color-copperfield-200: #f3cbb5;
  --color-copperfield-300: #eba786;
  --color-copperfield-400: #e37d58;
  --color-copperfield-500: #dc5933;
  --color-copperfield-600: #cd4329;
  --color-copperfield-700: #ab3223;
  --color-copperfield-800: #892a23;
  --color-copperfield-900: #6e2620;
  --color-copperfield-950: #3b100f;

  --color-seagull-50: #f2f9fd;
  --color-seagull-100: #e4f2fa;
  --color-seagull-200: #c2e6f5;
  --color-seagull-300: #8cd2ed;
  --color-seagull-400: #58bee3;
  --color-seagull-500: #28a2cf;
  --color-seagull-600: #1983b0;
  --color-seagull-700: #16698e;
  --color-seagull-800: #165976;
  --color-seagull-900: #184a62;
  --color-seagull-950: #102f41;


}


.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
